<% provide(:title, 'Projects | Robotic Bartender') %>
<% content_for :head do %>
	<h1>Robotic Bartender</h1>
<% end %>

<% content_for :left do %>
	<p>Find me in app/views/projects/barbot.html.erb</p>
<% end %>