<% provide(:title, 'Projects | Mechanical Gibbon') %>
<% content_for :head do %>
	<h1>Mechanical Gibbon</h1>
<% end %>

<% content_for :left do %>
	<p>Find me in app/views/projects/gibbon.html.erb</p>
<% end %>