<% provide(:title, 'Projects | Hijack Power') %>
<% content_for :head do %>
	<h1>Hijack Power</h1>
<% end %>

<% content_for :left do %>
	<p>Find me in app/views/projects/hijack.html.erb</p>
<% end %>