<% provide(:title, 'Projects | Planet Labs') %>
<% content_for :head do %>
	<h1>Planet Labs</h1>
<% end %>

<% content_for :left do %>
	<p>Find me in app/views/projects/planet_labs.html.erb</p>
<% end %>



