<% provide(:title, 'Projects | Coffee Can Radar') %>
<% content_for :head do %>
	<h1>Coffee Can Radar</h1>
<% end %>

<% content_for :left do %>
	<p>Find me in app/views/projects/radar.html.erb</p>
<% end %>


