<% provide(:title, 'Projects | Underactuated Hand') %>
<% content_for :head do %>
	<h1>Underactuated Hand</h1>
<% end %>

<% content_for :left do %>
	<p>Find me in app/views/projects/underactuation.html.erb</p>
<% end %>



